:root {
    --dark-bg-color: rgb(32, 32, 32);
}

[data-bs-theme=dark] > body {
    background-color: var(--dark-bg-color);
    color: white
}

[data-bs-theme=dark] .panel {
    background-color: rgb(46, 46, 46);
}

[data-bs-theme=dark] .button {
    background-color: rgb(31, 31, 31);
    border-color: white !important;
    color: white !important
}

[data-bs-theme=dark] .background-triangles1 .panel,
[data-bs-theme=dark] .background-triangles1 .tabButton {
    background-color: rgba(46, 46, 46, 0.8);
}

[data-bs-theme=dark] .background-simple {
    background-color: var(--dark-bg-color);
}

[data-bs-theme=dark] .background-space .panel,
[data-bs-theme=dark] .background-space .tabButton {
    background-color: rgba(46, 46, 46, 0.9);
}
