@import url(../vendor/bootstrap-5.3.1/bootstrap.css);

@import url(global/_variables.css);
@import url(global/_fonts.css);
@import url(global/_html-tags.css);
@import url(global/_main.css);

@import url(elements/_attributes.css);
@import url(elements/_background.css);
@import url(elements/_progress.css);
@import url(elements/_navigation.css);
@import url(elements/_station-overview.css);
@import url(elements/_energy.css);
@import url(elements/_nested-ui.css);
@import url(elements/_battle.css);
@import url(elements/_settings.css);
@import url(elements/_story-modal.css);
@import url(elements/_vfx.css);

@import url(modes/_dark.css);
@import url(modes/_sci-fi.css);
