
.sci-fi .headerRow {
    clip-path: polygon(
            0 18px,
            18px 0,
            calc(100% - 18px) 0,
            100% 18px,
            100% 100%,
            0% 100%,
            0 18px
    )
}

.sci-fi .progress {
    background: none;
}

.sci-fi .progress::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgb(12, 101, 173);
}

.sci-fi .progress::before,
.sci-fi .progress-bar {
    --corner-length: 30px;
    clip-path: polygon(
            0 0,
            calc(100% - var(--corner-length)) 0,
            100% 100%,
            0 100%
    )
}

.sci-fi .btn {
    --corner-length: 12px;
    clip-path: polygon(
            0 var(--corner-length),
            var(--corner-length) 0,
            calc(100% - var(--corner-length)) 0,
            100% var(--corner-length),
            100% calc(100% - var(--corner-length)),
            calc(100% - var(--corner-length)) 100%,
            var(--corner-length) 100%,
            0 calc(100% - var(--corner-length))
    );
    border-left: 3px solid;
    border-right: 3px solid;
    padding-left: calc(2 * var(--bs-btn-padding-x));
    padding-right: calc(2 * var(--bs-btn-padding-x));

    position: relative;
}

.sci-fi .btn::before,
.sci-fi .btn::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-style: solid;
}

.sci-fi .btn::before {
    left: 2px;
    border-width: calc(var(--corner-length)/2) 0 calc(var(--corner-length)/2) calc(var(--corner-length)/2);
    border-color: transparent transparent transparent currentColor;
}

.sci-fi .btn::after {
    right: 2px;
    border-width: calc(var(--corner-length)/2) calc(var(--corner-length)/2) calc(var(--corner-length)/2) ;
    border-color: transparent currentColor transparent transparent ;
}

.sci-fi .btn.btn-lg {
    --corner-length: 16px;
}
