@font-face {
    font-family: 'Syndra';
    src: local('Syndra Extra Light'), local('Syndra-ExtraLight'),
    url('../fonts/Syndra-ExtraLight.woff2') format('woff2'),
    url('../fonts/Syndra-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syndra';
    src: local('Syndra Light'), local('Syndra-Light'),
    url('../fonts/Syndra-Light.woff2') format('woff2'),
    url('../fonts/Syndra-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syndra';
    src: local('Syndra Regular'), local('Syndra-Regular'),
    url('../fonts/Syndra-Regular.woff2') format('woff2'),
    url('../fonts/Syndra-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syndra';
    src: local('Syndra Bold'), local('Syndra-Bold'),
    url('../fonts/Syndra-Bold.woff2') format('woff2'),
    url('../fonts/Syndra-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typori';
    src: local('Typori Regular'), local('Typori-Regular'),
    url('../fonts/Typori-Regular.woff2') format('woff2'),
    url('../fonts/Typori-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-font-family: 'Exo 2', var(--bs-font-sans-serif);
    --title-font-family: 'Syndra', var(--bs-font-sans-serif);
    --number-font-family: 'Typori', monospace;
    --number-font-size: 1.125rem;
    --number-font-weight: 400;
}

body {
    background-color: var(--light-bg-color);
    font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6,
thead {
    font-family: var(--title-font-family) !important;
    font-weight: 400;
}

p {
    margin: 0;
}

td {
    vertical-align: middle !important;
}

.label {
    font-family: var(--title-font-family);
    font-weight: 300;
}

data {
    font-family: var(--number-font-family);
    font-size: var(--number-font-size);
    font-weight: var(--number-font-weight);
    white-space: nowrap;
}

data[data-unit]::after {
    content: attr(data-unit);
    font-family: var(--body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
}

.progress {
    position: relative;
    height: 30px;
    background-color: rgb(12, 101, 173);
}

.progress-text {
    position: absolute;
    top: 0;
    bottom: 0;

    font-size: var(--bs-body-font-size);
    line-height: 30px;

    color: white;
    text-shadow: 1px 1px black, 1px 1px 3px black;
    /* TODO truncate */
}

.progress-bar {
    /* Smooth out progress bar filling */
    transition: width 50ms linear;
    background-color: rgb(46, 148, 231);
}

.progress-bar.current {
    background-color: orange;
}

#energyDisplay {
    cursor: pointer;
    position: relative;
}

#energyDisplay .energy-bar {
    position: relative;
    background-color: rgb(12, 101, 173);
    width: 100%;
    color: white;
    line-height: 23px;
}

.energy-text {
    white-space: nowrap;
}

#energyDisplay .energy-fill {
    position: relative; /* Contain the text elements */
    height: 23px;
    background-color: rgb(46, 148, 231)
}

#energyDisplay .energy-net {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    left: 0;
    text-align: right;
}

#energyDisplay .energy-stored {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#energyDisplay .detail {
    display: none;
}

#energyDisplay:hover .detail,
#energyDisplay.detailed .detail {
    display: block;
}

#energyDisplay:hover .energy-fill,
#energyDisplay.detailed .energy-fill {
    position: static; /* Release the inner elements */
}

#energyDisplay:hover .energy-net,
#energyDisplay.detailed .energy-net {
    right: 0;
    left: auto;
}

#energyDisplay .energy-generated {
    text-align: center;
}

#energyDisplay .energy-max {
    margin-left: auto;
}

.energy-generated {
    color: #4CAF50;
}

.energy-usage {
    color: #e63946;
}

#energyDisplay .above-energy-bar,
#energyDisplay .below-energy-bar {
    min-height: 1.7em;
}

#energyDisplay .below-energy-bar {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.hiddenTask {
    display: none !important;
}

.button {
    border: 1px solid black !important;
}

.item-button {
    background-color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 8px;
}

.item-button:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}

button:focus {
    outline: none;
}

.scroll {
    overflow-y: auto;
}

.pk-tooltip {
    position: relative;
    overflow: visible;
}

.pk-tooltip .tooltipText {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    opacity: 0;
    transition: opacity 0.25s;
}

.pk-tooltip .tooltipText-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.pk-tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 0.8;
}

.sidebar-element {
    margin-bottom: 16px;
}

.inline {
    display: inline-block;
}

.panel {
    background-color: white;
}

.battle-flavor-text {
    color: antiquewhite;
    border: 2px solid;
}

.battle-flavor-text.win {
    color: lightcyan;
    border-color: cyan;
}

.battle-flavor-text.lose {
    color: lightcoral;
    border-color: darkred;
}

.modal-body > p {
    margin-bottom: 0.5rem;
}

.modal-body > .stationNameInput {
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-family: var(--title-font-family);
    font-weight: 200;
    animation: flash-background 1000ms ease-in-out infinite alternate;
}

@keyframes flash-background {
    from {
        background-color: rgba(255,255,255,0.0);
    }
    to {
        background-color: rgba(255,255,255,0.1);
    }
}
