body {
    background-color: var(--light-bg-color);
}

p {
    margin: 0;
}

td {
    vertical-align: middle !important;
}

data {
    font-family: monospace;
    font-weight: bold;
    font-size: 110%;
}

.w3-bar-item {
    width: 100px;
    height: 40px;
    text-align: center;
}

.progress-text {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 5px;
    color: white;
}

.progress-bar {
    position: relative;
    background-color: rgb(12, 101, 173);
    cursor: pointer;
    width: 200px;
}

.progress-fill {
    height: 30px;
    background-color: rgb(46, 148, 231)
}

.progress-fill.current {
    background-color: orange;
}

#energyDisplay {
    cursor: pointer;
    position: relative;
}

#energyDisplay .energy-bar {
    position: relative;
    background-color: rgb(12, 101, 173);
    width: 100%;
    color: white;
    line-height: 23px;
}

.energy-text {
    white-space: nowrap;
}

#energyDisplay .energy-fill {
    position: relative; /* Contain the text elements */
    height: 23px;
    background-color: rgb(46, 148, 231)
}

#energyDisplay .energy-net {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    left: 0;
    text-align: right;
}

#energyDisplay .energy-stored {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#energyDisplay .detail {
    display: none;
}

#energyDisplay:hover .detail,
#energyDisplay.detailed .detail {
    display: block;
}

#energyDisplay:hover .energy-fill,
#energyDisplay.detailed .energy-fill {
    position: static; /* Release the inner elements */
}

#energyDisplay:hover .energy-net,
#energyDisplay.detailed .energy-net {
    right: 0;
    left: auto;
}

#energyDisplay .energy-generated {
    text-align: center;
}

#energyDisplay .energy-max {
    margin-left: auto;
}

.energy-generated {
    color: #4CAF50;
}

.energy-usage {
    color: #e63946;
}

#energyDisplay .above-energy-bar,
#energyDisplay .below-energy-bar {
    min-height: 1.7em;
}

#energyDisplay .below-energy-bar {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.hiddenTask {
    display: none !important;
}

.button {
    border: 1px solid black !important;
}

.item-button {
    background-color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 8px;
}

.item-button:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}

button:focus {
    outline: none;
}

.scroll {
    overflow-y: auto;
}

.tooltip {
    position: relative;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    opacity: 0;
    transition: opacity 0.25s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 0.8;
}

.sidebar-element {
    margin-bottom: 16px;
}

.inline {
    display: inline-block;
}

.panel {
    background-color: white;
}

.small-margin {
    margin-bottom: 2px;
}

.text-strap {
    color: gray;
    margin-bottom: -1rem;
}

.battle-flavor-text {
    color: antiquewhite;
    padding: 10px;
    border: 2px solid darkorange;
}

.battle-flavor-text-win {
    color: lightcyan;
    padding: 10px;
    border: 2px solid cyan;
}

.battle-flavor-text-lose {
    color: lightcoral;
    padding: 10px;
    border: 2px solid darkred;
}

.medium-margin {
    margin-bottom: 1.5rem;
}

.gameOverMessage {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.battle-bar {
    position: relative;
    background-color: rgb(12, 101, 173);
    margin: auto auto 1.5rem;
    width: 50%;
}
