[data-bs-theme=dark] {
    --body-bg-color: rgb(32, 32, 32);
    --body-font-color: white;
    --panel-bg-color: rgb(46, 46, 46);

    .background-triangles1 {
        .panel {
            background-color: rgba(46, 46, 46, 0.8);
        }
    }

    .background-space {
        .panel {
            background-color: rgba(46, 46, 46, 0.95);
        }
    }

    .level3 {
        background-color: var(--panel-bg-color);
    }
}
