.sci-fi {
    .progress {
        background: none;
    }

    .progress::before,
    .progress-background {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-color: var(--progress-bg-color);
    }

    .progress::before,
    .progress-bar,
    .progress-background {
        --corner-length: 30px;
        clip-path: polygon(
                0 0,
                calc(100% - var(--corner-length)) 0,
                100% 100%,
                0 100%
        );
    }

    .progress-text {
        max-width: calc(100% - 30px);
    }

    #energyDisplay {
        /* Flip cut corner so it aligns with the grid bar */
        &.progress::before,
        .progress-bar,
        .progress-background {
            clip-path: polygon(
                    0 0,
                    100% 0,
                    calc(100% - var(--corner-length)) 100%,
                    0 100%
            );
        }

        /* Elongate the last tick so it fills the cut corner */
        + .ticks > .tick:last-child {
            margin-top: -18px;
            height: calc(100% + 18px);
        }

        > .energyLeft,
        > .energyGenerated {
            margin-right: 30px;
        }
    }

    .progress.battle {
        > .single-particle-wrapper {
            translate: -15px 0;
        }
    }

    :not(.btn-group) > .btn {
        --corner-length: 12px;
        border-radius: var(--corner-length);
        border: 3px solid currentColor;
        padding: calc(var(--bs-btn-padding-y) - 3px) calc(1.5 * var(--bs-btn-padding-x));

        position: relative;

        &.btn-contrast-outline {
            box-shadow: 0 0 0 1px var(--bs-btn-bg);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            width: 0;
            height: 0;
            border-style: solid;
        }

        &::before {
            left: 2px;
            border-width: calc(var(--corner-length) / 2) 0 calc(var(--corner-length) / 2) calc(var(--corner-length) / 2);
            border-color: transparent transparent transparent currentColor;
        }

        &::after {
            right: 2px;
            border-width: calc(var(--corner-length) / 2) calc(var(--corner-length) / 2) calc(var(--corner-length) / 2);
            border-color: transparent currentColor transparent transparent;
        }

        &.btn-lg {
            --corner-length: 16px;
        }
    }
}
