/**
 * Defines the basic look of general HTML tags.
 * No classes, no ids.
 */
body {
    padding: 1rem; /* p-3 */

    background-color: var(--body-bg-color);
    color: var(--body-font-color);
    font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
thead {
    font-family: var(--title-font-family) !important;
    font-weight: 400;
}

p {
    margin: 0;
}

td {
    vertical-align: middle !important;
}

data {
    font-family: var(--number-font-family);
    font-size: var(--number-font-size);
    font-weight: var(--number-font-weight);
    white-space: nowrap;
}

button:focus {
    outline: none;
}
