#gameTitle {
    position: fixed;
    left: 0;
    top: 20%;
    rotate: 270deg;
    transform-origin: left top;
    transform: translateX(-100%);

    > h1 > a {
        color: inherit;
        text-decoration: none;
    }
}

.logo {
    color: inherit;
    text-decoration: none;

    font-family: var(--title-font-family) !important;
    font-weight: 400;
    font-size: 3rem;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0.125rem;
        left: 0;
        display: block;
        border: 0.6rem solid #0C65AD;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        z-index: -1;
    }
}

#gameTitleLogo {
    rotate: 90deg;
}

#stationOverviewLogo {
    display: none;

    position: absolute;
    top: 15px;

    font-size: 2.7rem;

    z-index: 1; /* Keep the background-ring over the panel background */
}

#main {
    max-width: var(--main-width);
    opacity: 0;
    margin: 0 auto;
    transition: opacity 500ms ease-in-out;

    &.ready {
        opacity: 1;
    }
}

/*
 * No calc() supported in media queries - but this values is equivalent to
 * calc(var(--main-width) + 2 * (4.5rem + 1rem))
 */
@media screen and (max-width: 1552px) {
    #main {
        margin: 0;
        margin-left: 4.5rem; /* width of the game title */
    }
}

/*
 * Removing the game title at this break point frees up full width for #main
 * Effectively: --main-width + 2 * body padding
 */
@media screen and (max-width: 1408px) {
    #gameTitle {
        display: none !important;
    }

    #stationOverviewLogo {
        display: block;
    }

    #main {
        margin-left: 0;
    }

    #nameDisplay {
        margin-left: calc(65px + 1rem) !important;
    }
}

#content {
    position: relative;
    max-width: var(--content-width);
    box-shadow: inset 9px 0 5px -4px orange;
}

#content .progress {
    cursor: pointer;
}

.panel {
    background-color: var(--panel-bg-color);
}

.tab {
    min-height: 100%;
}

.label {
    font-family: var(--title-font-family);
    font-weight: 300;
}

.help-text {
    color: rgb(172, 172, 172);
}

.table td,
.table th {
    background: none;
}

data[data-unit]::after {
    content: attr(data-unit);
    font-family: var(--body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
}

.hidden {
    display: none !important;
}

.hiddenTask {
    display: none !important;
}

.btn {
    font-family: var(--title-font-family);
    font-weight: 300;
    border-radius: 0;
}

.item-button {
    background-color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 8px;
}

.item-button:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}

.radio {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 4px;
}

.radio > div {
    width: 100%;
    height: 100%;
}

.position-sticky {
    background: inherit;
}

.icon {
    height: 1.5rem;
}

a[target="_blank"]:after {
    content: "";
    display: inline-block;
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(128, 128, 128)' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5'/><path fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z'/></svg>");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.2em;
}
