:root {
    --body-font-family: 'Exo 2', var(--bs-font-sans-serif);
    --title-font-family: 'Syndra', var(--bs-font-sans-serif);
    --number-font-family: 'Typori', monospace;
    --number-font-size: 1.125rem;
    --number-font-weight: 400;

    --body-bg-color: rgb(243, 243, 243);
    --body-font-color: #222;
    --panel-bg-color: white;

    --sidebar-width: 360px;
    --content-width: 1000px;
}
