:root {
    --body-font-family: 'Exo 2', var(--bs-font-sans-serif);
    --title-font-family: 'Syndra', var(--bs-font-sans-serif);
    --number-font-family: 'Typori', monospace;
    --number-font-size: 1.125rem;
    --number-font-weight: 400;

    --sidebar-width: 360px;
    --content-width: 1000px;

    /* Calculated variables */
    --main-width: calc(var(--content-width) + var(--sidebar-width) + 1rem);

    --clickable-border-width: 3px;
    --clickable-border-style: solid;
    --corner-length: 12px;
    --corner-length-large: 16px;
}
