.battle > .progress-bar.current {
    background-color: rgb(230, 57, 70);
}

#gameOverModal {
    &.win {
        .loss-only {
            display: none;
        }

        .modal-content {
            border: 3px solid cyan;
        }

        .modal-title,
        .modal-body {
            color: lightcyan;
        }
    }

    &.loss {
        .win-only {
            display: none;
        }

        .modal-content {
            border: 3px solid darkred;
        }

        .modal-title,
        .modal-body {
            color: lightcoral;
        }
    }
}

