#energyDisplay {
    cursor: pointer;
    position: relative;

    .energy-bar {
        position: relative;
        background-color: rgb(12, 101, 173);
        width: 100%;
        color: white;
        line-height: 23px;
    }

    .energy-fill {
        position: relative; /* Contain the text elements */
        height: 23px;
        background-color: rgb(46, 148, 231)
    }

    .energy-net {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        left: 0;
        text-align: right;
    }

    .energy-stored {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .detail {
        display: none;
    }

    &:hover ,
    &.detailed {
        .detail {
            display: block;
        }

        .energy-fill {
            position: static; /* Release the inner elements */
        }

        .energy-net {
            right: 0;
            left: auto;
        }
    }

    .energy-generated {
        text-align: center;
    }

    .energy-max {
        margin-left: auto;
    }

    .above-energy-bar,
    .below-energy-bar {
        min-height: 1.7em;
    }

    .below-energy-bar {
        display: flex;
        justify-content: space-between;
    }
}

.energy-text {
    white-space: nowrap;
}

.energy-generated {
    color: #4CAF50;
}

.energy-usage {
    color: #e63946;
}

