#energyGridDisplay {
    color: white;

    .ticks {
        height: 1rem;
    }

    .tick {
        width: 1px;
        height: 50%;
        background-color: currentColor;

        &:nth-child(5n+1),
        .large {
            height: 100%;
        }
    }

    .icon {
        height: 18px;
        filter: invert(1);
    }
}

.grid-strength-bar {
    height: 30px;
    line-height: 30px;
}

#gridStrength {
    .grid-strength-box {
        height: 100%;
        background-color: rgb(12, 101, 173);

        &.in-use {
            background-color: rgb(46, 148, 231)
        }
    }
}

.energy-bar {
    height: 18px;
    line-height: 18px;
    margin-top: 3px;

    .progress-text {
        line-height: inherit;
    }
}
