/* Some rules to improve VFX */
.galactic-secrets-help-text {
    overflow: hidden;

    > li {
        transform-origin: left;
    }
}

.galactic-secret > .progress-bar.unlocked {
    --progress-bar-bg-color: rgb(171, 1, 110);
    width: 100%;
}

.unlocked-icon {
    display: none;
}

.unlocked .unlocked-icon {
    display: block;
}
