.unlocked-icon {
    display: none;
}

.galactic-secret > .progress-bar.unlocked {
    --progress-bar-color: var(--galactic-secret-color);
}

.galactic-secret.unlocked {
    > .progress-bar-striped {
        animation: none !important;
    }

    .unlocked-icon {
        display: block;
    }

    > .progress-bar.unlocked {
        width: 100%;
    }
}
