.galactic-secret > .progress-bar.unlocked {
    --progress-bar-color: var(--galactic-secret-color);
    width: 100%;
}

.unlocked-icon {
    display: none;
}

.unlocked .unlocked-icon {
    display: block;
}
