#sidebar {
    width: var(--sidebar-width);
}

#pauseButton {
    --bs-btn-color: var(--ps-light);

    &.btn-pause,
    &.btn-intermission {
        --bs-btn-bg: var(--progress-bg-color);
        --bs-btn-hover-bg: var(--progress-bar-color);
        --bs-btn-active-bg: var(--progress-bar-color);
    }
    &.btn-play {
        --bs-btn-bg: var(--progress-current-bar-color);
        --bs-btn-hover-bg: var(--ps-orange);
        --bs-btn-active-bg: var(--ps-orange);
    }
}

.tabButton,
.shortcut {
    border: var(--clickable-border-width) var(--clickable-border-style) var(--tab-button-border-color);
    border-radius: var(--corner-length-large);
    position: relative;

    cursor: pointer;
    border-width: 0;
    border-bottom-width: var(--clickable-border-width);

    &:hover,
    &:focus {
        border-color: var(--tab-button-interact-border-color);
    }

    &:active {
        border-color: var(--tab-button-interact-border-color);
    }

    &.active {
        border-color: var(--tab-button-active-border-color);
    }

    > h3 {
        font-size: var(--bs-body-font-size);
        font-weight: 400;
        margin: 0;
    }
}

#attributesDisplay.tabButton {
    cursor: pointer;
    border-width: 0;
    border-bottom-width: var(--clickable-border-width);
}

#connector {
    position: absolute;
    width: 26px;
    height: 3px;

    background-color: var(--active-color);
    border: none;

    /* Remove bootstrap styling */
    opacity: 1;
    margin: 0;
}
