:root {
    --main-column-width: 20rem;
}

.level1 + .level1 {
    margin-top: 1.5rem; /* mt-4 */
}

.level1-header {
    position: sticky;
    top: 0;
    background-color: var(--ps-dark-blue);
    z-index: 3;
}

.level1-header > .category {
    /*noinspection CssNoGenericFontName*/
    font-family: var(--title-font-family);
    font-weight: 400;
}

.level1-header > div:nth-child(2) {
    font-weight: normal;
}

.level1-header > div:first-child {
    width: 45rem;
}

.level2 + .level2 {
    margin-top: 1rem;
}

.level2.inactive {
    .progress {
        --progress-bg-color: var(--progress-passive-bg-color);
    }

    .progress-bar {
        --progress-bar-color: var(--progress-passive-bar-color);
    }

    .progress-bar.current {
        --progress-bar-color: var(--progress-bar-color);
    }
}

.level2-header {
    position: sticky;
    top: 0;
    z-index: 2;

    > .name {
        /*noinspection CssNoGenericFontName*/
        font-family: var(--title-font-family);
        font-weight: 400;
    }

    > .gridLoad {
        transform-origin: right;
    }

    @media (min-width: 992px) {
        > div:first-child {
            width: var(--main-column-width);
        }
    }

    &.bg-light {
        .form-check-input:hover {
            box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.5);
        }
    }

    &.active {
        color: var(--header-font-color) !important;
        background-color: var(--header-bg-color) !important;
    }

    &.inactive {
        color: var(--header-passive-font-color) !important;
        background-color: var(--header-passive-bg-color) !important;
    }
}

.level2 > .table + .table {
    margin-top: 0.5rem;
}

.header-row {
    white-space: nowrap;
}

.level4 > tr > .gridLoad > data {
    transform-origin: right;
}

.level3 {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--panel-bg-color);
}

/* FIX for https://trello.com/c/efphnfbX/414-mobile-table-responsive-breaks-position-sticky */
@media (max-width: 991.98px) {
    .level3 {
        position: static;
    }
}

.level1 {
    .level2-header {
        top: 39px;
    }

    .level2 .level3 {
        top: 77px;
    }
}

.level1.single-category-mode {
    .level2-header {
        top: 0;
    }

    .level2 .level3 {
        top: 37px;
    }
}

:is(#modules, #location, #battles, #galacticSecrets) {
    .table :is(td,th):first-of-type {
        width: var(--main-column-width);
    }

    .table td {
        vertical-align: middle;
    }

    .table th {
        font-weight: normal;
    }

    & td {
        &.value,
        &.effect,
        &.modifier,
        &.rewards {
            max-width: 10rem;
            /* Squeeze in those two liners */
            line-height: 1.1rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            white-space: pre-line;
        }

        &.modifier {
            white-space: pre-line;
        }

        &.help-text {
            color: var(--help-font-color);
        }

        &.requirements data {
            display: inline;
        }

        .btn {
            min-width: 10rem;

            &.btn-sm {
                font-size: var(--bs-body-font-size);
            }
        }
    }
}

th.numeric,
td.numeric {
    text-align: right;
}

td > data:not(.effect-value) {
    display: block;
    text-align: right;
}

#attributes td.description > data {
    display: inline;
}

tr.text-bg-light > th,
tr.text-bg-light > td {
    color: inherit;
}

/* Some rules to improve VFX */
.tab-help-text {
    overflow: hidden;

    > li {
        transform-origin: left;
    }
}
