:root {
    --main-column-width: 20rem;
}

.level1 + .level1 {
    margin-top: 1.5rem; /* mt-4 */
}

.level1-header {
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 3;
}

.level1-header > .category {
    font-family: var(--title-font-family);
    font-weight: 400;
}

.level1-header > div:nth-child(2) {
    font-weight: normal;
}

.level1-header > div:first-child {
    width: 45rem;
}

.level2 + .level2 {
    margin-top: 1rem;
}

.level2.inactive {
    .progress {
        --progress-bg-color: #575757;
    }

    .progress-bar {
        --progress-bar-bg-color: #848484;
    }

    .progress-bar.current {
        --progress-bar-bg-color: rgb(46, 148, 231);
    }
}

.level2-header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.level2-header > .name {
    font-family: var(--title-font-family);
    font-weight: 400;
}

.level2-header > .gridLoad {
    transform-origin: right;
}

.level2-header > div:first-child {
    width: var(--main-column-width);
}

.level2 > .table + .table {
    margin-top: 0.5rem;
}

.level4 > tr > .gridLoad {
    transform-origin: right;
}

.level3 {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.level1 .level2-header {
    top: 40px;
}

.level1 .level2 .level3 {
    top: 77px;
}

:is(#modules, #location, #battles, #galacticSecrets) {
    .table :is(td,th):first-of-type {
        width: var(--main-column-width);
    }

    .table td {
        vertical-align: middle;
    }

    .table th {
        font-weight: normal;
    }

    & td {
        &.value,
        &.modifier,
        &.rewards {
            max-width: 10rem;
            /* Squeeze in those two liners */
            line-height: 1.1rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }

        &.modifier {
            white-space: pre-line;
        }

        &.help-text {
            color: rgb(128, 128, 128);
        }

        & data {
            display: block;
            text-align: right;
        }

        &.requirements data {
            display: inline;
        }

        .btn {
            min-width: 10rem;

            &.btn-sm {
                font-size: var(--bs-body-font-size);
            }
        }
    }
}
