.progress {
    position: relative;
    height: 30px;
    box-sizing: content-box; /* Add border on the outside */

    background-color: var(--progress-bg-color);


    /* Reset some bootstrap styling */
    overflow: visible;
    border-radius: 0;

    &.clickable {
        border: var(--clickable-border-width) var(--clickable-border-style) var(--progress-bar-color);

        &:hover,
        &:focus {
            border-color: var(--clickable-interact-border-color);
        }

        &:active {
            border-color: var(--clickable-interact-border-color);
        }
    }
}

.progress-text {
    position: absolute;
    top: 0;
    bottom: 0;

    font-size: var(--bs-body-font-size);
    line-height: 30px;

    color: var(--ps-light);
    text-shadow: 1px 1px var(--ps-dark), 1px 1px 3px var(--ps-dark);

    max-width: 100%;

    pointer-events: none;
}

.progress-bar {
    /* Smooth out progress bar filling */
    transition: width 50ms linear;
    background-color: var(--progress-bar-color);
}

.progress-bar.current {
    --progress-bar-color: var(--progress-current-bar-color);
}

.game-playing {
    .progress-bar-striped.current,
    .progress:hover > .progress-bar-striped {
        animation: 1s linear infinite progress-bar-stripes reverse;
        /* TODO would be nice to softly fade this in instead of just showing it. */
        /* FIXME doesn't work with striped */
        /*background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.25));*/
    }
}

.btn.point-of-interest {
    --bs-btn-color: var(--ps-light);
    --bs-btn-active-color: var(--ps-light);
    --bs-btn-hover-color: var(--ps-light);

    border-top-width: 0;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 0;

    line-height: 30px;
    text-align: left;

    font-family: inherit;
    font-weight: inherit;
    font-size: var(--bs-body-font-size);
    text-shadow: 1px 1px var(--ps-dark), 1px 1px 3px var(--ps-dark);

    &.btn-primary {
        --bs-btn-bg: var(--progress-bg-color);
    }
}
