.progress {
    position: relative;
    height: 30px;
    box-sizing: content-box; /* Add border on the outside */

    background-color: var(--progress-bg-color);


    /* Reset some bootstrap styling */
    overflow: hidden;
    border-radius: 0;

    &.clickable {
        border: var(--clickable-border-width) var(--clickable-border-style) var(--progress-bar-color);

        &:hover,
        &:focus {
            border-color: var(--clickable-interact-border-color);
        }

        &:active {
            border-color: var(--clickable-interact-border-color);
        }
    }
}

.progress-text {
    position: absolute;
    top: 0;
    bottom: 0;

    font-size: var(--bs-body-font-size);
    line-height: 30px;

    color: var(--ps-light);
    text-shadow: 1px 1px var(--ps-dark), 1px 1px 3px var(--ps-dark);

    max-width: 100%;

    pointer-events: none;
}

.progress-bar {
    /* Smooth out progress bar filling */
    transition: width 50ms linear;
    background-color: var(--progress-bar-color);
}

.progress-bar.current {
    --progress-bar-color: var(--progress-current-bar-color);
}

.bossProgress-text {
    transition: opacity 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.bossProgress-text.warningAnimation {
    animation: bossColorPulse 3s ease-in-out infinite;
}

@keyframes bossColorPulse {
    0%, 100% {
        color: var(--ps-light);
    }
    50% {
        color: #ff6b6b;
    }
}

.bossProgress {
    transition: width 0.2s linear, background-color 0.3s ease;
}

.bossProgressBar {
    height: 2rem;
}

.bossProgress {
    .lowDanger {
        background-color: var(--ps-light-blue);
    }

    .mediumDanger {
        background-color: var(--ps-blue);
    }

    .highDanger {
        background-color: var(--ps-yellow);
    }

    .veryHighDanger {
        background-color: var(--ps-orange);
    }

    .maxDanger {
        background-color: var(--warning-color);
    }
}

.bossProgress-container {
    flex-grow: 1;
}

.bossProgress-container.disabled {
    pointer-events: none;
}

.game-playing {
    .progress-bar-striped.current,
    .progress:hover > .progress-bar-striped {
        animation: 1s linear infinite progress-bar-stripes reverse;
        /* TODO would be nice to softly fade this in instead of just showing it. */
        /* FIXME doesn't work with striped */
        /*background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.25));*/
    }
}

.btn.point-of-interest {
    --bs-btn-color: var(--ps-light);
    --bs-btn-active-color: var(--ps-light);
    --bs-btn-hover-color: var(--ps-light);
    --bs-btn-bg: var(--progress-bg-color);
    --bs-btn-hover-bg: var(--progress-bar-color);
    --bs-btn-active-bg: var(--progress-bar-color);

    border-top-width: 0;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 0;

    line-height: 30px;
    text-align: left;

    font-family: inherit;
    font-weight: inherit;
    font-size: var(--bs-body-font-size);
    text-shadow: 1px 1px var(--ps-dark), 1px 1px 3px var(--ps-dark);

    &.current {
        --bs-btn-bg: var(--progress-current-bar-color);
        --bs-btn-hover-bg: var(--progress-current-bar-color);
        --bs-btn-active-bg: var(--progress-current-bar-color);
    }
}

#locationQuickDisplay {
    border-radius: var(--corner-length);
    background-color: var(--progress-current-bar-color);
    line-height: 30px;
}

[data-layer="0"] {
    background-color: var(--ps-yellow);
}

[data-layer="1"] {
    background-color: var(--ps-purple2);
}

[data-layer="2"] {
    background-color: var(--ps-orange);
}

[data-layer="3"] {
    background-color: var(--ps-dark-blue);
}

[data-layer="4"] {
    background-color: var(--ps-red);
}

[data-layer="5"] {
    background-color: var(--ps-green3);
}

[data-layer="6"] {
    background-color: var(--ps-pink1);
}

[data-layer="7"] {
    background-color: var(--ps-cyan);
}

[data-layer="8"] {
    background-color: var(--ps-light);
}

[data-layer="9"] {
    background-color: var(--ps-dark);
}
