.progress {
    position: relative;
    height: 30px;
    --progress-bg-color: rgb(12, 101, 173);
    background-color: var(--progress-bg-color);

    /* Reset some bootstrap styling */
    overflow: visible;
    border-radius: 0;
}

.progress-text {
    position: absolute;
    top: 0;
    bottom: 0;

    font-size: var(--bs-body-font-size);
    line-height: 30px;

    color: white;
    text-shadow: 1px 1px black, 1px 1px 3px black;
    /* TODO truncate */
}

.progress-bar {
    /* Smooth out progress bar filling */
    transition: width 50ms linear;
    --progress-bar-bg-color: rgb(46, 148, 231);
    background-color: var(--progress-bar-bg-color);
}

.progress-bar.current {
    --progress-bar-bg-color: orange;
}

.game-playing {
    .progress-bar-striped.current,
    .progress:hover > .progress-bar-striped {
        animation: 1s linear infinite progress-bar-stripes reverse;
        /* TODO would be nice to softly fade this in instead of just showing it. */
        /* FIXME doesn't work with striped */
        /*background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.25));*/
    }
}
