.unstable:after {
    content: "Unstable";
    text-transform: uppercase;
    vertical-align: super;
    font-size: 40%;
    margin-left: 0.5rem;
}

.form-check.background {
    display: block;
    text-shadow: 1px 1px var(--ps-dark), 1px 1px 3px var(--ps-dark);
    padding: 1rem;
    padding-left: 2.5rem;
    border: 1px solid var(--ps-light);
    line-height: 23px;
}

.form-check.background-space {
    background-image: url("../../img/space.png");
    background-size: cover;
    background-position: center;
}

.form-check.background + .form-check.background {
    margin-top: 0.5rem;
}

#importExportBox {
    resize: vertical;
    min-height: 78px;
}
