#stationOverview {
    margin-left: max(0px, (100% - var(--content-width) - var(--sidebar-width)) / 2);

    .primary-stat {
        text-align: center;
    }
}

#attributesDisplay {
    cursor: pointer;
}

#nameDisplay {
    cursor: pointer;
}
