.modal-backdrop {
    backdrop-filter: blur(0px);
    background-color: transparent;
}

.modal-backdrop.fade {
    transition: all 150ms linear;
    transition-property: backdrop-filter, background-color;
}

.modal-backdrop.show {
    opacity: 1;
    backdrop-filter: blur(5px);
    background-color: var(--backdrop-color);
}

.modal-body > p {
    margin-bottom: 0.5rem;
}

.modal-body > .stationNameInput {
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    /*noinspection CssNoGenericFontName*/
    font-family: var(--title-font-family);
    font-weight: 200;
    animation: flash-background 1000ms ease-in-out infinite alternate;
}

@keyframes flash-background {
    from {
        background-color: var(--ps-light-transparent100);
    }
    to {
        background-color: var(--ps-light-transparent90);
    }
}

.toast-body {
    > img {
        height: 1.5em;
        vertical-align: bottom;
    }

    button > img {
        height: 1.5em;
        vertical-align: bottom;
    }

    .btn {
        text-shadow: none;

        &.btn-warning {
            --bs-btn-color: var(--ps-dark);
            --bs-btn-hover-color: var(--ps-dark);
            --bs-btn-active-color: var(--ps-dark);
        }
    }
}

#enableAudioToast.toast {
    font-size: inherit;
}

@media (max-width: 991.98px) {
    .modal {
        padding-right: 0 !important;
    }
}
