#analysisCore {
    .ticks {
        margin-top: -25px;
        height: calc(25px + 1rem);
    }

    .tick {
        width: 1px;
        height: calc(100% - 0.5rem);
        background-color: currentColor;

        &:nth-child(5n+1),
        .large {
            height: 100%;
        }
    }
}

.analysis-core-bar.current {
    --progress-bar-color: var(--technology-color);
}

/* Technologies Table Styling */
.technology-row {
    .technology.progress > .progress-bar.unlocked {
        --progress-bar-color: var(--technology-color);
    }

    .technology.progress.unlocked {
        > .progress-bar-striped {
            animation: none !important;
        }

        .unlocked-icon {
            display: block;
        }

        > .progress-bar.unlocked {
            width: 100%;
        }
    }

    .cost {
        &.missing-requirement {
            color: var(--ps-passive);

            .inline-attribute {
                filter: grayscale(1) brightness(1.4);
            }
        }

        &.too-expensive {
            color: var(--warning-color);

            > data,
            > data::after {
                font-weight: bold;
            }
        }

        &.unlocked {
            color: var(--ps-passive);
        }
    }
}
