.vfx {
    /* position: static; */
    pointer-events: none;

    &.free {
        display: none;
    }
}

.splash-particle-wrapper {
    position: absolute;
    animation: fade-out 600ms ease-in-out;

    > .particle {
        /* TODO probably a cleaner way to manage this */
        animation-duration: 600ms, 600ms;
        opacity: 0.6;
        scale: 0.5;
    }
}

.progress-particle-wrapper {
    position: absolute;
    right: 0;
}

.battle-progress-particle-wrapper {
    position: absolute;
}

.single-particle-wrapper {
    pointer-events: none;
}

.particle {
    position: absolute;
    display: block;
    background-color: white;
    pointer-events: none;
    animation: spin 600ms infinite linear, shoot0 800ms cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

.battle .particle {
    background-color: rgb(230, 57, 70);
}

.particle.size0 {
    width: 2px;
    height: 2px;
    animation-name: spin, shoot0;
}

.particle.size1 {
    width: 4px;
    height: 4px;
    animation-name: spin, shoot1;
}

.particle.size2 {
    width: 6px;
    height: 6px;
    animation-name: spin, shoot2;
}

.particle.size3 {
    width: 8px;
    height: 8px;
    animation-name: spin, shoot3;
}

@keyframes spin {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes shoot0 {
    from {
        translate: 0 0;
    }
    to {
        translate: 50px 0;
    }
}

@keyframes shoot1 {
    from {
        translate: 0 0;
    }
    to {
        translate: 35px 0;
    }
}

@keyframes shoot2 {
    from {
        translate: 0 0;
    }
    to {
        translate: 20px 0;
    }
}

@keyframes shoot3 {
    from {
        translate: 0 0;
    }
    to {
        translate: 12px 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.progress-fill {
    position: relative; /* Contain particles */
    overflow: hidden;
}

.progress-bar {
    position: relative; /* Contain particles */
}

.flash {
    position: absolute;
    background-color: currentColor;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: flash 400ms cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes flash {
    0% {
        box-shadow: 0 0 0 0 currentColor;
        opacity: 0.7;
    }

    to {
        box-shadow: 0 0 15px 15px currentColor;
        opacity: 0;
    }
}

.shake-strong-tilt-move {
    animation: tilt-n-move-shaking 0.07s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

/* subtle zoom to attention and then back */
.flash-text-denied {
    animation: 300ms flash-text-denied ease;
}

@keyframes flash-text-denied {
    0% {
        text-shadow: 0 0 0 currentColor;
    }
    50% {
        color: rgb(200, 0, 0);
        scale: 1.2;
        opacity: 1;
        text-shadow:
                1px 0 0 currentColor,
                0.540302px 0.841471px 0 currentColor,
                -0.416147px 0.909297px 0 currentColor,
                -0.989992px 0.14112px 0 currentColor,
                -0.653644px -0.756802px 0 currentColor,
                0.283662px -0.958924px 0 currentColor,
                0.96017px -0.279415px 0 currentColor;
    }
    100% {
        scale: 1;
        opacity: 1;
        text-shadow: 0 0 0 currentColor;
    }
}
